export HADOOP_HOME=
export HADOOP_CONF_DIR=
export SPARK_HOME1=
export SPARK_HOME2=
export PYTHON_HOME=
export JAVA_HOME={{ jdk_deploy_path }}
export HIVE_HOME=
export FLINK_HOME=
export DATAX_HOME=

export PATH=$HADOOP_HOME/bin:$SPARK_HOME1/bin:$SPARK_HOME2/bin:$PYTHON_HOME:$JAVA_HOME/bin:$HIVE_HOME/bin:$PATH:$FLINK_HOME/bin:$DATAX_HOME:$PATH
