[Unit]
Description=MySQL Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=root
ExecStart={{ mysql_home }}/bin/mysqld --defaults-file=/etc/my.cnf

LimitNOFILE=65535
LimitNPROC=65535

PrivateTmp=false
