clientPort=2181
tickTime=2000
initLimit=10
syncLimit=5
maxClientCnxns=8192
dataDir={{ zookeeper_data }}
dataLogDir={{ zookeeper_log }}

{% for url in groups['zookeeper_servers'] %}
server.{{ loop.index }}={{ hostvars[url].ansible_host }}:2888:3888
{% endfor %}